@model pressboard.cashregisterexam.model.Order
@{
    ViewBag.Title = "Create";
}
<h2>New Order</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">Redis KEY</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Key, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Key, "", new { @class = "text-danger" })
            </div>
        </div>

        <span style="float:right">
            <input type="button" id="addOrderItem" value="Add Order Item" class="btn btn-toolbar" />
            <input type="submit" value="Submit" class="btn btn-primary" />
        </span>
        <div id="orderItems">
            <table class="table">
                <thead>
                    <tr align="left">
                        <th>Name</th>
                        <th>Unit</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>OnSale</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Items.Count; i++)
                    {
                        @Html.Partial("~/Views/Shared/EditorTemplates/_OrderItem.cshtml", Model.Items[0])
                    }
                </tbody>
            </table>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to Home", "Index","Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/orderitem")
}